html,
body{
    margin: 12;
}

header {
    background-color:rgb(255, 166, 0);
    margin-bottom: 10px;
}

nav {
    float: right;
    margin-right: 145px;
}
nav>a {
    font-size: Large;
    color: rgb(28, 26, 26);
    text-decoration: none;
    margin: 12px;
}

nav>a:hover {
    color: #ff5800;
}

.about-info {
    border: 2px double #ff9f00;
    width: 23vw;
    text-align: center;
    margin: 0 auto;
}

.photobox {
    margin-top: 15px;
    position: relative;
    left: 10%;
    border: 1px solid black;
    width: 80vw;
    padding: 10px;
    background-color: #FED8B1
}

.photobox div {
    position: relative;
    left: 16%;
    width: 33.33%;
}

.col {
    display: inline-block;
    vertical-align: top;
}

.photobox div:nth-child(2) {
    height: 200px;
}